:root {
	--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
	--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
	--Grayish-Blue: hsl(212, 23%, 69%);
	--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body{
	font-family: 'Manrope', sans-serif;

	height: 100vh;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: var(--Light-Grayish-Blue);
}

.container{
	width: 1000px;
	height: 400px;

	box-shadow: 0px 0px 35px rgba(0,0,0,0.15);
	border-radius: 20px;
	background-color: #fff;
}

.article{
	width: 100%;
	height: 100%;

	display: grid;
	grid-template: 1fr / .75fr 1.25fr;
}


.article__thumbnail{
	height: 100%;

	border-radius: 20px 0 0 20px;

	background-image: url(../images/drawers.jpg);
	background-size: cover;
	background-position-x: left;
}

.card {
	box-sizing: border-box;

	padding: 10px 100px 10px 50px;

	position: relative;
}

.card__title {
	color: var(--Desaturated-Dark-Blue);
}

.card__text {
	color: var(--Grayish-Blue);
}

.card__footer {
	margin-top: 40px;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.autor {
	display: flex;
	align-items: center;
}

.autor__image {
	width: 50px;

	border-radius: 50%;
	margin-right: 20px;
}

.autor__name {
	box-sizing: border-box;

	display: inline-block;

	margin: 0;

	font-weight: 700;
	color: var(--Desaturated-Dark-Blue);
}

.autor__date {
	display: block;

	font-size: 14px;
	font-weight: 500;
	color: var(--Grayish-Blue);
}


.share {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--Light-Grayish-Blue);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.share--darker {
	background-color: var(--Desaturated-Dark-Blue);
}

.socialMedia{
	width: 160px;

	background-color: var(--Very-Dark-Grayish-Blue);

	padding: 10px 20px;
	border-radius: 10px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	position: absolute;
	bottom: 123%;
	right: -17%;
}

.socialMedia::after {
	content: '';
	display: block;

	width: 20px;
	height: 20px;

	background-color: var(--Very-Dark-Grayish-Blue);

	clip-path: polygon(0 0, 100% 0, 50% 50%);

	position: absolute;
	bottom: -49%;
	left: 50%;
	
    transform: translateX(-50%);
}

.isActive {
	display: flex;
}

.isNoActive {
	display: none;
}

.socialMedia__text{
	display: inline-block;

	color: var(--Grayish-Blue);
	font-size: 12px;
	letter-spacing: 5px;
	
	margin: 0;
}




/*media queries*/

@media screen and (max-width: 1200px){

	.container {
		width: 400px;
		height: 650px;
	}

	.article{
		grid-template: 0.75fr 1.25fr / 1fr;
	}

	.article__thumbnail {
		border-radius: 20px 20px 0 0;
	}

	.card {
		padding: 0;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card--center{
		padding: 0 40px;
	}

	.card__title {
		margin-bottom: 0;
	}

	.card__text {
		margin: 0;
	}

	.card__footer {
		height: 100px;

		margin: 0;

		border-radius: 0 0 20px 20px;
	}

	.socialMedia {
		width: 100%;
		height: 96px;

		box-sizing: border-box;

		position: absolute;
		bottom: 0;
		left: 0;

		border-radius: 0 0 20px 20px;

		justify-content: flex-start;
	}

	.socialMedia::after {
		display: none;
	}
	
	.socialMedia__text {
		margin: 0 25px 0 20px;
	}

	.images--spacing {
		margin-right: 25px;
	}

	.share {
		z-index: 30;
	}

	.share__image {
		z-index: 20;
	}

	.share__image::after {
		content: '';
		display: block;

		width: 30px;
		height: 30px;

		background-color: var(--Light-Grayish-Blue);
		border-radius: 50%;

		position: absolute;
	}

}
